:root {
    --background: #010304;
    --primary: #33668a;
    --secondary: #070e13;
    --accent: #3e7ca8;
    --primary-text: #e5eff5;
    --accent2: #5b3caa;
    --background-opacity: calc(100% - 1% * (min(var(--scroll), 70)) * 100 / 50)
}

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

    margin: 0;

    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--background);
    overflow-x: hidden;

    hr {
        border: var(--accent) 1px solid;
    }
}