:root {
    --background: #f7f7f7;
    --primary: #4646e2;
    --secondary: #cfcfcf;
    --accent: #ffff61;
    --primary-text: #1a1a1a;
    --accent2: #5b3caa;
}

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

    margin: 0;

    padding: 0;
    box-sizing: border-box;

}