.maincnt {

    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    align-items: center;
    height: 6vh;
    padding: 5rem 2rem;
    font-family: sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

    .open {
        position: fixed;
        height: 100vh;
        width: 0;
        top: 15vh;
        left: -0.5rem;
        z-index: 1;
        background: #f1f1f1;


        overflow-x: hidden;
        transition: 0.5s;


        ul {
            position: relative;
            top: 25%;
            left: 25%;
            width: 50%;
            text-align: center;
            transition: .1s;

            li {

                list-style: none;

                .Items {
                    text-decoration: none;

                    h1 {

                        color: #363636;
                        font-size: 3rem;
                        font-weight: 300;
                        letter-spacing: -1%;
                    }
                }

            }

        }

    }

    .toggleclass {
        width: 100%;
    }

    .menu {
        .btn {
            letter-spacing: .03em;
            white-space: nowrap;
            border: 0;
            border-radius: 4rem;
            font-size: 1.6rem;
            color: var(--primary-text);
            padding: 0.5rem 2rem;

            background-color: #f1f1f1;
            box-shadow: 2px 1px 2px rgba(180, 180, 180, .7), inset 3px 2px 5px rgba(255, 255, 255, 1);
        }
    }

    .logo {

        img {
            height: 50px;
            width: 110px;
        }


        h1 {
            text-shadow: 1px 1px 1px #fff;


            font-size: 3rem;
            line-height: 1;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

    }

    .social {
        img {
            // box-shadow: 2px 1px 2px rgba(180, 180, 180, .7), inset 3px 2px 5px rgba(255, 255, 255, 1);
            border-radius: 2rem;
            margin: 2px;
        }
    }
}