.allnews {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.newcontainer {
    height: 60px;
    padding: 0 6rem;
    margin-bottom: 0rem;
    overflow: hidden;
    width: 80%;
    color: white;


    .items {
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        line-height: 3.5rem;



        button {
            border: none;
            border-radius: 20px;
            font-size: 1rem;
            width: 8rem;
            height: 2rem;
            align-self: center;
            color: black;
            cursor: pointer;
            background-color: #f5f5f5;
        }
    }
}




.head {

    height: 60px;
    align-self: center;
    color: #f5f5f5;

    h1 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: -2%;
    }

}